/* Click Watch Sass in VSC when working w. this file */
$backgr-color: lightcyan;
$tile-color: #55b4b0;
$zero-tile-color: white;
$button_color: lightgrey;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
}

html {
  background-color: $backgr-color;
  color: set-text-color($backgr-color);
}

.title-area {
  text-align: center;
  margin-bottom: 2em;
  input {
    height: 40px;
    width: 200px;
    border-radius: 60px;
    font-size: 18px;
  }
  input:focus {
    /*outline: 3px dashed $tile_color;*/
    outline: none;
  }
  input:active {
    background-color: $button_color;
    color: set-text-color($button_color);
  }
}

.horizontal-flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.vertical-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /*horizontally centers the content items of the vertical flex boxes */

  &.solution_details {
    p {
      margin-left: 0;
      padding-left: 0;
      float: left;
    }
  }
  input {
    margin-top: 1em;
    height: 30px;
    width: 160px;
    border-radius: 60px;
    font-size: 15px;
  }
  input:focus {
    /*outline: 3px dashed $tile_color;*/
    outline: none;
  }
  input:active {
    background-color: $button_color;
    color: set-text-color($button_color);
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  gap: 0;
  width: 180px;
  height: 180px;
  background-color: $tile-color;
  color: set-text-color($tile-color);

  > div {
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    &.zero-tile {
      background-color: $zero-tile-color;
    }
  }
}
