/* Click Watch Sass in VSC when working on this file */

$backgr-color: lightcyan;
$tile-color: #55b4b0;
$zero-tile-color: white;
$button_color: lightgrey;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
}

html {
  background-color: $backgr-color;
  color: set-text-color($backgr-color);
}

.title-area {
  text-align: center;
  padding-left: 0.8em;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
  input {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    height: 40px;
    width: 180px;
    border-radius: 60px;
    font-size: 18px;
  }
  input:focus {
    /*outline: 3px dashed $tile_color;*/
    outline: none;
  }
  input:active {
    background-color: $button_color;
    color: set-text-color($button_color);
  }
}

.horizontal-flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0em;
}
.vertical-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /*horizontally centers the content items of the vertical flex boxes */
  padding-bottom: 0em;
  input {
    margin-top: 0.8em;
    height: 30px;
    width: 160px;
    border-radius: 60px;
    font-size: 15px;
  }
  h3 {
    margin-bottom: 0.5em;
  }
  input:focus {
    /*outline: 3px dashed $tile_color;*/
    outline: none;
  }
  input:active {
    background-color: $button_color;
    color: set-text-color($button_color);
  }
  &.info {
    p {
      margin-left: 1em;
      margin-right: 0.5em;
    }
    input {
      width: 200px; /*button*/
    }
    h4 {
      margin-top: 1.6em;
      margin-bottom: 0.7em;
    }
    .h6 {
      margin-top: 1em;
    }
    .selector {
      height: 1.4em; /* radio-button size */
      margin-top: 0.3em;
      margin-bottom: 0.8em;
    }
    p {
      margin-top: 0;
    }
  }
}

.board {
  display: grid;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  gap: 0;
  width: 180px;
  height: 180px;
  background-color: $tile-color;
  color: set-text-color($tile-color);

  > div {
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    &.zero-tile {
      background-color: $zero-tile-color;
    }
  }
  &.dim3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &.dim4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 800px) {
  /*985px) {*/
  .horizontal-flex-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    width: 200px;
    height: 42px;
  }
  #custom_input {
    width: 200px;
  }
}

@media only screen and (max-width: 315px) {
  #custom_input {
    width: 90%;
  }
}

@media only screen and (max-width: 260px) {
  .btn {
    width: 190px;
  }
  #custom_input {
    width: 190px;
  }
}

@media only screen and (max-width: 210px) {
  .btn {
    width: 160px;
  }
  #custom_input {
    width: 160px;
  }
  .title-area {
    input {
      width: 180px;
    }
  }
}
