/* Click Watch Sass in VSC when working on this file */
* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
}

html {
  background-color: lightcyan;
  color: #000;
}

.title-area {
  text-align: center;
  padding-left: 0.8em;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

.title-area input {
  margin-top: 0.5em;
  height: 40px;
  width: 200px;
  border-radius: 60px;
  font-size: 18px;
}

.title-area input:focus {
  /*outline: 3px dashed $tile_color;*/
  outline: none;
}

.title-area input:active {
  background-color: lightgrey;
  color: #000;
}

.horizontal-flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0em;
}

.vertical-flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*horizontally centers the content items of the vertical flex boxes */
  padding-bottom: 3em;
}

.vertical-flex-container input {
  margin-top: 1em;
  height: 30px;
  width: 160px;
  border-radius: 60px;
  font-size: 15px;
}

.vertical-flex-container input:focus {
  /*outline: 3px dashed $tile_color;*/
  outline: none;
}

.vertical-flex-container input:active {
  background-color: lightgrey;
  color: #000;
}

.vertical-flex-container.info p {
  margin-left: 1em;
  margin-right: 0.5em;
}

.vertical-flex-container.info input {
  width: 200px;
  /*button*/
}

.vertical-flex-container.info h4 {
  margin-top: 1.6em;
  margin-bottom: 0.7em;
}

.vertical-flex-container.info .h6 {
  margin-top: 1em;
}

.vertical-flex-container.info .selector {
  height: 1.4em;
  /* radio-button size */
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

.vertical-flex-container.info p {
  margin-top: 0;
}

.board {
  display: -ms-grid;
  display: grid;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  gap: 0;
  width: 180px;
  height: 180px;
  background-color: #55b4b0;
  color: #000;
}

.board > div {
  padding: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
  font-size: 1em;
  font-weight: bold;
}

.board > div.zero-tile {
  background-color: white;
}

.board.dim3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.board.dim4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 250px;
  height: 250px;
}

@media only screen and (max-width: 950px) {
  /*985px) {*/
  .horizontal-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    width: 200px;
    height: 42px;
  }
  #custom_input {
    width: 200px;
  }
}

@media only screen and (max-width: 315px) {
  #custom_input {
    width: 90%;
  }
}

@media only screen and (max-width: 260px) {
  .btn {
    width: 190px;
  }
  #custom_input {
    width: 190px;
  }
}

@media only screen and (max-width: 210px) {
  .btn {
    width: 160px;
  }
  #custom_input {
    width: 160px;
  }
  .title-area input {
    width: 180px;
  }
}
/*# sourceMappingURL=main.css.map */