{% extends 'base.html' %}
{% block title %}8 puzzle{% endblock title%}
{% block body %}


<script>
    var user = JSON.parse('{{ json_data | tojson | safe}}');
    console.log(user)
    var solution_grids = {{ solution_grids|safe }} # forældet - gør det som ovenfor. ja. 
</script>
<div class="title-area">
    <h1>8-puzzle</h1>
    <h4>Solve the puzzle yourself (use arrow keys) or try the automatic solver</h4>
    <input type="button" id="new_puzzle_btn" value="New Puzzle">
</div>

<div class="horizontal-flex-container">
    <div class="vertical-flex-container game-area">
        <h3>Computer</h3>
        <p>Sample #{{puzzle_number}}</p>
        <div class="board">
            {% for i in range(3) %}
                {% for j in range(3) %}
                    {% if ai_original_puzzle[i][j]==0 %}
                        <div class="zero-tile" id="{{i|string}}{{j|string}}"></div>
                    {% else %}
                        <div id="{{i|string}}{{j|string}}">{{ai_original_puzzle[i][j]}}</div>  
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <p>#Moves: {{ai_cost}}</p> 
        <p id="ai_solve_status">ai_solve_status</p>
        <input type="button" id="solve_btn" value="solve_btn">
        <input type="button" id="show_solution_btn" value="show_solution_btn">
        <input type="button" id="unsolve_btn" value="unsolve_btn">            
    </div>  
    <script src="../static/js/make_move.js"></script>

    <script>
        document.getElementById("solve_btn").addEventListener('click', event => {
            document.getElementById("ai_solve_status").innerHTML = "Searching..."
            search_type = document.querySelector('input[name="search_type"]:checked').value;
            document.getElementById("search_type").value = search_type;
            document.getElementById("requested_action").value = "solve_puzzle";
            document.getElementById("form").submit();
            })
        document.getElementById("unsolve_btn").addEventListener('click', event => {
            document.getElementById("requested_action").value = "unsolve";
            document.getElementById("form").submit();
        })

        document.getElementById("new_puzzle_btn").addEventListener('click', event => {
            document.getElementById("requested_action").value = "new_puzzle";
            document.getElementById("form").submit();
        })
        document.getElementById("show_solution_btn").addEventListener('click', event => {            
            function myLoop() {         //  create a loop function
                setTimeout(function() {   //  call a 3s setTimeout when the loop is called
                    console.log("hej")
                    for (let i = 0; i < 3; i++) {
                        for (let j=0; j<3; j++){
                            element = document.getElementById(i.toString().concat(j.toString()));
                            if(solution_grids[k][i][j] == 0){
                                element.classList.add("zero-tile");
                                element.innerHTML=solution_grids[k][i][j] = "";

                            }
                            else{
                                element.innerHTML=solution_grids[k][i][j];
                                element.classList.remove("zero-tile");
                            }
                        }
                    }
                    k++;                    //  increment the counter
                    if (k < "{{ai_num_solution_steps}}") {           //  if the counter < 10, call the loop function
                        myLoop();             //  ..  again which will trigger another 
                    }                       //  ..  setTimeout()
                }, 200);
            }
            var k = 0;
            myLoop() 
        })
        </script>

       


    <div class="vertical-flex-container info">
        {% if not ai_puzzle_is_solved %}  
            <h4>Search algorithm</h4>
            <label for="ast_alt" class="radiolabel">A*-search (Manhattan)</label>
            <input type="radio" class="selector" id="ast_alt" name="search_type"  value="ast_alt" checked="true">
            <label for="gbfs class="radiolabel">Gready best-first search</label>
            <input type="radio" class="selector" id="gbfs" name="search_type"  value="gbfs">
            <label for="bfs" class="radiolabel">Breadth-first search</label>
            <input type="radio" class="selector" id="bfs" name="search_type"  value="bfs">
            <label for="dfs" class="radiolabel">Depth-first search</label>
            <input type="radio" class="selector" id="dfs" name="search_type" value="dfs">
        {% else %}
            <h4>Solution details</h4>
            <p class="h6">Basics:</p>
            <p>Solution method: {% if search_type=="ast_alt" %}A*{%else%}{{search_type}}{%endif%}</p>   
            <p>#Moves in solution:
                <a href={{url_for('show_solution_string', ai_solution_string=ai_solution_string)}}>
                {{ai_num_solution_steps}}</a></p> 
            <p>Running time: {{running_time}}s</p>
            <p class="h6">Nerd stuff:</p>
            <p>Max search depth: {{max_search_depth}}</p> 
            <p>Max Ram Usage: {{max_ram_usage}}MB</p>   
            <p>#Expanded nodes: {{num_expanded_nodes}}</p> 
        {% endif %}
    </div> 
    <div class="vertical-flex-container game-area">
        <h3>You</h3>
        <p>Sample #{{puzzle_number}}</p>
        <div class="board">
            {% for i in range(3) %}
                {% for j in range(3) %}
                    {% if human_puzzle[i][j]==0 %}
                        <div class="zero-tile"></div>
                    {% else %}
                        <div>{{human_puzzle[i][j]}}</div>   
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <p>#Moves: {{human_cost}}</p> 
        <p>{% if human_puzzle_is_solved %}Solved!{% else %}Not solved yet{% endif %}</p>
        <input type="button" id="help_btn" value="Need help?" >
    </div>
    {% if asked_for_help %}
        <div class="vertical-flex-container info">
            {% include "help.html" %}
        </div>
    {% endif %}
</div>

<form method="post" action="{{ url_for('index') }}" id="form">
    <input type="hidden" name="requested_action" id="requested_action" value = "">
    <input type="hidden" name="search_type" id="search_type" value="{{search_type}}">
    <input type="hidden" name="direction" id="direction" value="">
    <input type="hidden" name="human_steps_made" id="human_steps_made" value ="">
    <input type="hidden" name="ai_original_puzzle" value="{{ai_original_puzzle}}">
    <input type="hidden" name="puzzle_number" value={{puzzle_number}}>
    <input type="hidden" name="ai_puzzle" value="{{ai_puzzle}}">
    <input type="hidden" name="human_puzzle" value="{{human_puzzle}}">
    <input type="hidden" name="ai_cost" value="{{ai_cost}}">
    <input type="hidden" name="human_cost" value="{{human_cost}}">
    <input type="hidden" name="num_expanded_nodes" value="{{num_expanded_nodes}}">
    <input type="hidden" name="max_search_depth" value="{{max_search_depth}}">
    <input type="hidden" name="max_ram_usage" value="{{max_ram_usage}}">
    <input type="hidden" name="ai_solution_string" value={{ai_solution_string}}>
    <input type="hidden" name="running_time" value="{{running_time}}">
    <input type="hidden" name="ai_num_solution_steps" value="{{ai_num_solution_steps}}">
</form>



{% endblock body %}