{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>8-puzzle</h1>
    <p>Solve the puzzle yourself (use arrow keys) or try the automatic solver</p>

    <div class="board">
        <div class="1">1</div>
        <div class="2">2</div>
        <div class="3">3</div>
        <div class="4">4</div>
        <div class="5">5</div>
        <div class="6">6</div>
        <div class="7">7</div>
        <div class="8">8</div>
        <div class="0">0</div>
    </div>
    
    <input type="submit" value="move">
    <input type="submit" value="solve/show solution details">
    <input type="submit" value="new puzzle">
    
</div>
{% endblock body %}