{% extends 'base.html' %}

{% block body %}

<div class="title-area">
    <h1>8-puzzle</h1>
    <h4>Solve the puzzle yourself (use arrow keys) or try the automatic solver</h4>
    <input type="button" id="new_puzzle_btn" value="New puzzle">
</div>

<div class="horizontal-flex-container">
    <div class="vertical-flex-container game-area">
        <h3>You</h3>
        <div class="board">
            {% for i in range(3) %}
                {% for j in range(3) %}
                    {% if human_puzzle[i][j]==0 %}
                        <div class="zero-tile"></div>
                    {% else %}
                        <div>{{human_puzzle[i][j]}}</div>   
                    {% endif %}
                {%endfor %}
            {% endfor %}
        </div>
        <p>#Moves: {{human_cost}}</p> 
        <p>{% if human_puzzle_is_solved %}Solved!{% else %}Not solved yet{% endif %}</p>
    </div>
    <div class="vertical-flex-container game-area">
        <h3>Computer</h3>
        <div class="board">
            {% for i in range(3) %}
                {% for j in range(3) %}
                    {% if ai_puzzle[i][j]==0 %}
                        <div class="zero-tile"></div>
                    {% else %}
                        <div>{{ai_puzzle[i][j]}}</div>   
                    {% endif %}
                {%endfor %}
            {% endfor %}
        </div>
        <p>#Moves: {{ai_cost}}</p> 
        <p>
            {% if ai_puzzle_is_solved and show_ai_solution_step %}
                Showing solution!
            {% elif ai_puzzle_is_solved and not show_ai_solution_step %}
                Solved!
            {% else %}
                Not solved yet
            {% endif %}
        </p>     
        <input type="button" id="solve_btn" value="Solve">

       {% if ai_puzzle_is_solved %}
            <script>
                document.getElementById("solve_btn").disabled = true;
            </script>
        {% endif %}

    </div>

    <div class="vertical-flex-container nerd-area">
        {% if not ai_puzzle_is_solved %}    
            <h3>Computer settings</h3>
                           
        {% else %}
                <h3>Solution details</h3>
                <p>Solution method: BFS</p>   
                <p>Number of moves in solution: {{ai_cost}}</p> 
                <p>Running time: {{running_time}}s</p>
                <p>Total number of expanded nodes: {{num_expanded_nodes}}</p> 
                <p>Maximal search depth: {{max_search_depth}}</p> 
                <p>Maximal Ram Usage: {{max_ram_usage}}</p>      
        {% endif %}
    </div>


</div>

<form method="post" action="{{ url_for('index') }}" id="form">
    <input type="hidden" name="requested_action" id="requested_action" value = "">
    <input type="hidden" name="direction" id="direction" value="">
    <input type="hidden" name="ai_puzzle" value="{{ai_puzzle}}">
    <input type="hidden" name="human_puzzle" value="{{human_puzzle}}">
    <input type="hidden" name="ai_cost" value="{{ai_cost}}">
    <input type="hidden" name="human_cost" value="{{human_cost}}">
    <input type="hidden" name="num_expanded_nodes" value="{{num_expanded_nodes}}">
    <input type="hidden" name="max_search_depth" value="{{max_search_depth}}">
    <input type="hidden" name="max_ram_usage" value="{{max_ram_usage}}">
    <input type="hidden" name="ai_solution" value={{ai_solution}}>
    <input type="hidden" name="running_time" value="{{running_time}}">
</form>

<script>
    document.getElementById("new_puzzle_btn").addEventListener('click', event => {
        document.getElementById("requested_action").value = "new_puzzle";
        document.getElementById("form").submit();
    })
    
    document.getElementById("solve_btn").addEventListener('click', event => {
        document.getElementById("requested_action").value = "solve_puzzle";
        document.getElementById("form").submit();
    })
    
    function human_move(direction){
        document.getElementById("requested_action").value = "human_move";
        document.getElementById("direction").value=direction;
        document.getElementById("form").submit();
    }
    document.addEventListener('keydown', event => {
        switch (event.keyCode){
            case 37: human_move("l");
            break;

            case 39: human_move("r");
            break;

            case 38: human_move("u"); 
            break;

            case 40: human_move("d");
            break;
        }
    }); 

</script>

<script src="../static/js/modules.js"></script>

{% if ai_puzzle_is_solved and show_ai_solution_step %}
    <script>
        document.getElementById("requested_action").value = "show_ai_solution_step";
        document.getElementById("form").submit();
    </script>
{% endif %}

{% endblock body %}